@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans';
    color: var(--default-text-color);
}

/* Variables  */

:root {
    --red500: #F44336;
    --default-text-color: #000000;
    --placeholder-color: #969393;
}

/* Links */

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--default-text-color);
}

input::placeholder {
    color: var(--placeholder-color);
}

/* navigation */

nav {
    color: var(--default-text-color);
    font-family: 'Lexend', sans-serif;
    height: 100px;
}


nav .nav-links a {
    padding: 14px 20px;
    text-align: center;
}

nav .nav-links a:hover {
    color: var(--default-text-color);
    border: 1px solid var(--red500);
    border-radius: 25px;
}

nav .auth-links a {
    padding: 14px 20px;
    color: var(--red500);
    font-weight: 500;
}


nav .auth-links :nth-child(2) {
    background-color: var(--red500);
    border-radius: 25px;
    color: white;
    margin-left: 8px;
}

/* header hamburger */
.mobile-menu {
    inset:0px;
    background-color: #00000050;
    z-index: 999;
}

.mobile-menu-inner {
    padding: 32px;
    width: 80%;
    max-width: 400px;
}
/* search-section */

.search-section {
    background-image: url(../src/assets/equipment-photo.jpg);
    height: 60vh;
}

.search-section-inner {
    gap: 25px;
}

.search-section-inner h1 {
    font-size: 64px;
    font-weight: 800;
}

.search-section-inner h3 {
    font-size: 32px;
}

.search-section-inputs {
    width: 894px;
}

.input-wrapper,
.select-wrapper {
    width: 45%;
}


.search-section-inputs input,
.search-section-inputs select,
.search-section-inputs .search-button-box {
    border: none;
    height: 96px;
    font-size: 20px;
    line-height: 30px;
}

.search-section-inputs input {
    border-radius: 50px 0 0 50px;
    width: 100%;
    padding: 10px 40px 10px 50px;
    border-right: 1px solid #e9e9e9;
}

.search-section-inputs .input-wrapper .bi-search,
.search-section-inputs .select-wrapper .bi-tools {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--placeholder-color);
}

.search-section-inputs select {
    width: 100%;
    padding: 10px 40px 10px 50px;
    color: var(--placeholder-color);
}

.search-button-box {
    border-radius: 0px 50px 50px 0px;
    width: 11%;
}

.search-section-inputs button {
    width: 55px;
    height: 55px;
    font-size: 20px;
    top: 21px;
}


/* Top Categories */

.top-categories-list {
    width: 80%;
}

.top-categories-list a {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--placeholder-color);
    border-radius: 55px;
    font-size: 20px;
    padding: 15px 20px 15px 10px;
}

.category-icon {
    border-radius: 50%;
    font-size: 24px;
    padding: 10px;
    box-sizing: content-box;
}

.drill-icon {
    background-color: #FFEBEE;
    color: var(--red500)
}

.cutting-icon {
    background-color: #E8F5E9;
    color: #4CAF50
}

.plumbing-icon {
    background-color: #F3E5F5;
    color: #9C27B0;
}

.more-icon {
    background-color: #FFF3E0;
    color: #FF9800;
}


/* Tool Grid component */

.most-popular-tools {
    margin-top: 30px;
}

.tool-grid-inner {
    width: 90%;
}

.tool-grid-item {
    width: 30%;
    margin: 30px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.tool-grid-item-name {
    font-size: 22px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.tool-grid-item-description {
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.tool-grid-item-price {
    color: var(--red500)
}

/* Top Categories and Tool Grid -shared */

.top-categories h2,
.most-popular-tools h2 {
    font-size: 48px;
    padding: 40px;
}

/* Footer */

.footer {
    padding: 40px;
    height: 280px;
    background-color: #F4F4F4;
}

.footer .logo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}

.footer-social-block {
    gap: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.footer .nav-links {
    gap: 240px;
    margin-right: 120px;
}

.footer-navigation-block,
.footer-help-block {
    gap: 30px;
}